main{
    margin:auto;
    padding: 10px;
    display:grid;
    grid-template-columns: 20% 1fr 10%;
    border: 1px solid black;
}
aside>h4{
    text-align: center;
}
#favBox{
    border: 1px solid green;
}
#favbutton{
    height:80px;
}